
@font-face{
    font-family: "Pixelate";
    src: url("assets/fonts/SF\ Pixelate\ Bold.ttf");
  }
*{
    padding: 0;
    margin: 0;
    font-family: Pixelate ;
}

html,body{
    color: white;
    width: 100%;
    font-family:  Pixelate;
    height: 100%;

}
a {
    text-decoration: none;
    color: white;
}


a:hover{
    /* font-size: 100px; */
    cursor: pointer;

}

body{
    background: black url("endless-constellation\ \(1\).svg") center center repeat fixed;
    overflow: hidden;

}

main{
    margin: 0 auto;
    background-color: black;
    width: 80%;
    height: 90vh;
    padding-top: 12px;
    /* border: 6px rgb(0, 255, 13)  solid; */
}

footer > p {
    margin-top: 30px;
    text-align: center;
}

footer{
    outline: 6px rgb(0, 255, 13)  solid ;
    width: 100%;
    height: 10%;
    background-color: black;
    /* background-color: red */
}