<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.css"> -->

    <link rel="stylesheet" href="/static/style.css">
    <title>Controle de Produtos</title>
</head>


<body>
    <header>
        {%for rota in routes%}
        {%if rota == 'home'%}
            <a class="nav-link" href="/">{{rota.title()}}</a>
        {%else%}
            <a class="nav-link" href="{{rota}}">{{rota.title()}}</a>
        {%endif%}

       {%endfor%}
    </header>
    <main>
        <section>
            <h1 class="titulos">#Whoami</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorum necessitatibus? Quasi, sed assumenda at temporibus pariatur saepe est recusandae illo rem numquam exercitationem magni eos, nemo qui nulla! Nobis!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis voluptates rem, voluptatum exercitationem dignissimos quidem sint labore accusantium amet enim? Veritatis nesciunt nisi nemo mollitia a soluta, enim minus repellendus?
            </p>
        </section>

    </main>



    <footer>
        <p>

            <a target="_blank" href="https://github.com/mateussiilva">mateussiilva</a>
        </p>
    </footer>


    <script src="/static/app.js"></script>
</body>

</html>