<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style.css">
    <title>{{title}}</title>
</head>

<body>

    <header>
        {%for rota in routes%}
        {%if rota == 'home'%}
        <a  href="/">{{rota.title()}}</a>
        {%else%}
        <a href="{{rota}}">{{rota.title()}}</a>
        {%endif%}

        {%endfor%}
    </header>
    <h1>Bem vindo a pagina de Projetos</h1>
    <script src="/static/app.js"></script>
</body>

</html>